body {
  background: rgb(220, 232, 255);
}
.img {
  height: 10px;
  width: 6px;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.menu-content {
  text-align: center;
}
.main-cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.cont1 {
  margin-top: 3px;
  padding-bottom: 10px;
  min-width: fit-content;
  height: fit-content;
  width: 45%;
}
.cont2 {
  margin-top: 3px;
  padding-bottom: 10px;
  min-width: 21rem;
  height: fit-content;
  width: 45%;
}
.name {
  padding-left: 20px;
}
.list {
  text-align: center;
}
.product-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  padding-top: 10px;
}
